body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #11141E;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #11141E;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #03bfb5;
}

.navbar a.active{
    color: #03bfb5;
}

.benefits-section h1 {
  text-align: center;
  color: #03bfb5;
  font-size: 24px;
  margin: 40px 0 30px;
}

.benefit-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .benefit-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .benefit-grid {
    grid-template-columns: 1fr;
  }
}

.benefit-box {
  border: 2px solid #03bfb5;
  padding: 20px;
  border-radius: 10px;
  background-color: #11141E;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit-box h3 {
  color: #03bfb5;
  margin-bottom: 15px;
  font-size: 19.2px;
}

.benefit-box ul {
  list-style: none;
  padding-left: 15px;
}

.benefit-box ul li {
  margin-bottom: 10px;
  font-size: 15.2px;
}

.benefit-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 240, 204, 0.2);
}

footer {
    background: linear-gradient(to top, #230c33, #11141E 90%);
    color: #03bfb5;
    margin: 40px;
    padding: 30px;
    font-size: 14px;
    border: 2px solid #03bfb5;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-links {
font-family: 'Segoe UI', sans-serif;
display: block;
color:#03bfb5;
text-decoration: none;
margin-bottom: 8px;
}

.footer-contact {
font-family: 'Segoe UI', sans-serif;
display: flex;
flex-direction: column;
gap: 2px;
text-align: center;
margin-left: 150px;
}

.rights {
font-family: 'Segoe UI', sans-serif;
text-align: right;
color: #03bfb5;
font-size: 13px;
line-height: 1.4;
margin-bottom: 8px;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

@media (max-width: 768px) {
  .footer-contact {
    text-align:right;
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    nav a {
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
    }

    nav a:last-child {
        border-bottom: none;
    }
}
